.card-detail{
    text-align: center;
    width: 560px;
    height: 340px;
    background-color: #cecece;
    border-radius: 35px;
    margin-bottom: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-detail{
    background-color: #D4C685;
    width: 101.5%;
    padding: 5px;
    border-radius: 35px;
    margin-bottom: -10px;
}

.descripcion{
    padding: 3px;
}

