.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-color: #cecece;
    color: #333;
    width: 280px;
    height: 370px;
    border: none;
    border-radius: 7px;
    margin: 30px;
    box-shadow: 10px 10px 10px #000;
}

/* .card:hover{
    height: 320px;
    transition: 0.5s;
} */

h3{
    font-size: 25px;
}

h4{
    font-size: 18px;
}

.header{
    background-color: #cecece;
    padding: 5px;
    border-radius: 7px;
}

.footer{
    background-color: #D4C685;
    padding: 6px;
    border-radius: 7px;
}

/* .img{
   width: 250px;
   height: 200px;
} */

/* .img:hover{
    height: 100%;
    transition: 1s;
} */

.agregar-carrito{
    width: 80%;
    background-color: #D17B0F;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;    
    margin-top: 8px;
    cursor: pointer;
}

.agregar-carrito:hover{
    background-color: #cecece;
    border: solid 1px #D17B0F;
    color: #D17B0F;
    font-weight: bold;
    transition: 0.3s;
}

.detalle{
    padding: 8px;
    border: none;
    border-radius: 8px;
    margin-top: 5px;
    background-color: #BFBDC1;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

.detalle:hover{
    background-color: #cecece;
    color: #333;
    transition: 0.3s;
}