.navbar{
   display: flex;
   justify-content: right; 
   background-color: #FBA02C;
   width: 100%;
}

.logo{
    width: 50px;
    height: 50px;
    margin: 10px;
}

.navbar-items{
    font-size: 20px;
    display: flex;
    list-style: none;
    padding: 10px;
}

.boton{
    padding: 10px;
    color: white;
    text-decoration: none;
}

.boton:hover{
    color: #000;
    transition: 0.5s;
}