*{
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #333;
    min-height: 50vh;
}

